.footer {
    padding: 25px 25px 0px 25px;
    background-color: rgb(12,124,186);
    color: white;
    font-size: 10pt;
}

a {
}

.footer-link {
  color: white;
}

.footer > a:hover {
}

.footer > a:visited {
  color:white;
}
